[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
yfinance = "*"
matplotlib = "*"
seaborn = "*"
pysqlite3 = "*"
pycoingecko = "*"
pyportfolioopt = "*"
scikit-learn = "*"
ipython = "*"
ipykernel = "*"
chardet = "*"
cvxpy = "*"
thetadata = "*"
riskfolio-lib = "*"
numecon = "*"
pyfolio = "*"
empyrical = "*"
pyql = "*"
py-vollib = "*"
backtrader = "*"
alpha-vantage = "*"
ibapi = "*"
yahooquery = "*"
ccxt = "*"
python-dotenv = {extras = ["cli"], version = "*"}

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
