[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ccxt = "*"
python-dotenv = "*"
numpy = "*"
pandas = "*"
scipy = "*"
matplotlib = "*"
arch = "*"
scikit-learn = "*"

[dev-packages]
ipykernel = "*"
cython = "*"

[requires]
python_version = "3.12"
